[submodule "vvc_roi_based"]
    path = vvc_roi_based
    url = git@github.com:DSNicolau/VVC-ROI-Based.git
[submodule "hevc_roi_based"]
	path = hevc_roi_based
	url = git@github.com/DSNicolau/HEVC-ROI-Based.git
